.main-container {
  background-color: rgb(212, 180, 243);
  min-height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.card-container {
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  padding: 10px;
  width: 95%;
}
.filter-container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 877px) {
  .filter-container {
    flex-direction: column;
  }
}

.filter-heading {
  font-size: 10px;
  align-self: flex-start;
}

@media screen and (min-width: 567px) {
  .filter-heading {
    font-size: 40px;
  }
}
.filter-items-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.date-filter-container {
  background-color: white;

  display: flex;
  align-items: center;
  height: 30px;
  margin: 5px;
}
.input-element {
  height: 20px;
  width: 100px;
}
@media screen and (min-width: 567px) {
  .input-element {
    height: 30px;
    width: 150px;
    margin: 10px;
    border-radius: 8px;
    outline: none;
    border: none;
  }
  .date-filter-container {
    width: 250px;
  }
}
.date-input {
  border: none;
}

.date-margin {
  margin: 10px;
}
@media screen and (max-width: 567px) {
  .md-device-date {
    display: none;
  }
}
.add-button {
  background-color: rgb(58, 76, 195);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.task-items-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 567px) {
  .task-items-main-container {
    flex-direction: column;
  }
}
.add-clear-button-container {
  display: flex;
  align-items: center;
}
