.main-container {
  background-image: url('https://res.cloudinary.com/dwj8ezxgi/image/upload/v1691644424/preview-349798-Cg2MALBwqc-high_0014_yzmxso.jpg');
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
}
@media screen and (max-width: 569px) {
  .main-container {
    height: 400vh;
  }
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.user-profile {
  font-size: 40px;
  box-shadow: 0 4px 15px 5px rgb(255, 255, 255);
  border-radius: 20px;
}
.card-container {
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  padding: 10px;
  width: 95%;
  background-image: linear-gradient(
    to bottom,
    rgb(159, 247, 255),
    rgb(255, 145, 255)
  );
  box-shadow: 10px 10px 5px 2px lightblue inset;
  color: black;
}
.filter-container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 877px) {
  .filter-container {
    flex-direction: column;
  }
}

.filter-heading {
  font-size: 10px;
  align-self: flex-start;
}

@media screen and (min-width: 567px) {
  .filter-heading {
    font-size: 25px;
  }
}
.filter-items-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.date-filter-container {
  background-color: white;

  display: flex;
  align-items: center;
  height: 30px;
  margin: 5px;
}
.input-element {
  height: 20px;
  width: 100px;
  background-color: rgb(191, 241, 241);
  font-weight: 600;
}
@media screen and (min-width: 567px) {
  .input-element {
    height: 30px;
    width: 150px;
    margin: 10px;
    border-radius: 8px;
    outline: none;
    border: none;
  }
  .date-filter-container {
    width: 250px;
  }
}
.date-input {
  border: none;
}

.date-margin {
  margin: 10px;
}
@media screen and (max-width: 567px) {
  .md-device-date {
    display: none;
  }
}
.add-button {
  background-color: rgb(58, 76, 195);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.task-items-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 567px) {
  .task-items-main-container {
    flex-direction: column;
  }
}
.add-clear-button-container {
  display: flex;
  align-items: center;
}
