.Pending {
  background-color: rgba(127, 124, 124, 0.875);
}
.In {
  background-color: orange;
}
.Completed {
  background-color: rgb(12, 199, 12);
}
.Deployed {
  background-color: rgb(12, 12, 88);
}
.Deferred {
  background-color: rgb(211, 126, 140);
}
.status-card-container {
  margin: 10px;
}
.status-heading {
  text-align: center;
  font-size: 20px;
  padding: 10px;
  margin: 0;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.status-heading:hover {
  background-color: white;
  color: rgb(14, 235, 255);
}
.status-task-container {
  height: 60vh;
  width: 230px;
  margin: 0;
  border-style: solid;
  border-color: rgb(118, 255, 255);
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
